@import "reset.css";
@import "sidebar-navigation.css";
@import "top-header-section.css";
@import "property-info.css";
@import "dashboard-section.css";


<<<<<<< HEAD
.content-area {
=======
#content-area {
>>>>>>> d6974021d2d7cb29e4ad45eaa49e76e5c02dbe27
    background: #eee;
    width:80%;
    height: 100vh;
    margin-left: 20%; 
}


