.input-container_h1 {
    color: #5db374;
}

input[type=text] {
    width: 33%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-color: #fff;
    padding: 12px 20px 12px 20px;
  }