.card-container {
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid #eee;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 14px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px -10px rgba(0,0,0,0.75);
    margin: 60px 15px 15px 15px;
    width: 350px;
    height: 375px; 
}

.card-h1 {
    color: #6b5e5e;
}